body{
    background: rgb(210, 210, 228);
    margin-left: 30px;
    margin-right: 50px;
}

header{
    margin-top: 70px;
}

h1{
    color:rgb(4, 4, 83);
    font-family: fantasy;
}

h2{
    font-family: fantasy
}

p{
    font-size: 18px;
}

footer{
    margin-bottom: 30px;
}

.img_padrao{
    margin-bottom: 20px;
}

.logo{
    width: 50px;
}